
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  background-color: #f8fafc;
  -webkit-tap-highlight-color: transparent;
}

.medical-gradient {
  background: linear-gradient(135deg, #0ea5e9 0%, #2563eb 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
